@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap');

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-VariableFont_wght.ttf'), url('../fonts/Raleway-VariableFont_wght.woff') format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    src: url('../fonts/Raleway-Italic.woff'), url('../fonts/Raleway-Italic.ttf') format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-style: bold;
    src: url('../fonts/Raleway-Bold.ttf'), url('../fonts/Raleway-Bold.woff') format("truetype");
}

* {
    margin: 0;
    box-sizing: border-box;
    border: 1px solid skyblue;
}

body {
    width: 1160px;
    margin: auto;
    border-right: 1px solid black;
}

h1, h2, h3 {
    font-family: "Lato", sans-serif;
}

p, a, ul, small {
    font-family: "Ralway", sans-serif;
}

ul {
    margin-left: 30px;
}

a {
    color: white;
    text-decoration: none;
}